modules = ["nodejs-14", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "cd client && npm install && npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
author = 40298632
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm start"
